body {
  font-size: 20px;
  height: 100%;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  /* background: rgb(5,70,186);
background: linear-gradient(90deg, rgba(5,70,186,1) 40%, rgba(0,134,255,1) 85%); */
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;
  
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto; 
  gap: 200px 10px;
  grid-template-areas:
    "banner banner banner banner"
    "woman man general taping"
    "aboutPhoto aboutPhoto aboutText aboutText"
    "contact contact contact contact"
    "map map map map"
    "footer footer footer footer";
  height: 100%;
  max-width: 1200px;
  margin: 0px 0px 0px 0px;
}



#navigacja{
  position: fixed;
  background: rgb(5, 70, 186);
  background: linear-gradient(
    190deg,
    rgba(5, 70, 186, 1) 36%,
    rgba(0, 134, 255, 1) 100%
  );
  width: 100%;
  z-index: 2;
  
  
}
#navbarNav > ul > li > a:hover{
  text-decoration: underline;
  text-decoration-thickness: 8%;
  color: rgb(15, 13, 13) 
}
#knefel2{
  font-weight: 900;
  
}
#brand{
  border-right: 1px solid black;
  padding-right: 10px;
  
  text-align: center;
}



#woman, #man, #general, #taping > a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}

#banner {
  display: flex;
  grid-area: banner;
  background-image: url(baner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  /* border: solid 1px red; */
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  
  
}
#banner img{
  width: 1200px;
  height: 800px;
}
/* #banner > p#main {
  width: 700px;
  height: 150px;
  font-size: 3em;
}
#banner > p#sub {
  height: 30px;
} */

.aboutMeTxt {
  grid-area: aboutText;
  font-size: 1em;
  background-color: white;
  -webkit-box-shadow: 0px 0px 40px 4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 40px 4px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 40px 4px rgba(66, 68, 90, 1);
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  font-family: "Kumbh Sans", sans-serif;
}
.aboutMeTxt > span {
  font-size: 1em;
  background-color: blue;
  width: 100%;
  padding: 10px;
  color: white;
  height: 50px;
}

.aboutMePhoto {
  grid-area: aboutPhoto;
  display: flex;
  justify-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 40px 4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 40px 4px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 40px 4px rgba(66, 68, 90, 1);
}
.aboutMePhoto > img {
  height: 100%;
  width: 100%;

  background-image: url(aboutMe.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact {
  grid-area: contact;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.kontakt {
  font-size: 1.2em;
}
.address {
  font-size: 0.7em;
}
.email {
  font-size: 0.7em;
}
.phone {
  font-size: 0.7em;
}
.klinika {
  font-size: 0.7em;
}
#map {
  grid-area: map;

 
}
#map > iframe {
  width: 100%;
}
footer {
  display: flex;
  grid-area: footer;
  margin: 0%;
  align-items: center;
  justify-content: center;

  
}
footer > p {
  font-size: 0.8em;
}
#services {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

#woman {
  grid-area: woman;
}
#taping {
  grid-area: taping;
}
#general {
  grid-area: general;
}
#man {
  grid-area: man;
}

.card {
  list-style: none;
  position: relative;
  border-radius: var(--spacing-l);
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

/* .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(4px);
}
 .card:not(:hover) .card__category {
  filter: blur(2px);
}
  .card:not(:hover) .card__heading {
  filter: blur(2px);
} */

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
  text-shadow: 2px 2px 8px black;
  width: 100%;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9em;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  text-shadow: 2px 2px 8px black;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 3% 5%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "banner banner"
      "woman taping"
      "general man"
      "aboutPhoto aboutPhoto"
      "aboutText aboutText"
      "contact contact"
      "map map"
      "footer footer";
    margin: 10%;
    overflow-x: hidden;
  }
  .card__category {
    font-size: 0.7em;
  }

  .card__heading {
    font-size: 0.8em;
  }
  #banner {
    width: 100%;
  }
  #banner > p#main {
    width: 100%;

    font-size: 1em;
  }
  #banner > p#sub {
    font-size: 1em;
  }

  nav > span {
    font-size: 0.7em;
    gap: 0px;
  }
  nav {
    display: flex;
    justify-content: space-around;
  }

  .aboutMeTxt {
    font-size: 0.5em;
  }
  #banner img{
    width: 100%;
    height: 100%;
  }
}
#karuzela{
  top: -100px;
  width: 1200px;
  height: 500px;
  
  transform:scale(0.5);
  position: absolute;
}
#wizyta{
  background-image: url(znanylekarz.png);
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 50px;
}

